{{ define "main" }}
<div class="product-gallery">
  <h1>Nos tableaux Origami</h1>
	<p class="promo-global">Réduction de 15% dès 2 tableaux achetés</p>
	<p class="promo-global-second">Frais de port offerts</p>

  {{/* Vignettes textuelles */}}
  {{ $vignettes := slice
    (dict "title" "Petites séries" "text" "Chaque tableau est signé et numéroté, séries limitées.")
    (dict "title" "Fabriqués en France" "text" "Imaginés et fabriqués dans notre atelier à Dunkerque.")
    (dict "title" "Œuvres en mouvement" "text" "Chaque regard révèle une nouvelle harmonie de formes et lumières.")
  }}

  <div class="product-grid">
    {{ range $i, $p := .Pages }}

      {{/* Produit */}}
      <a href="{{ $p.RelPermalink }}" class="product-item">
        {{ if $p.Params.thumbnail }}
          <img src="{{ $p.Params.thumbnail }}" alt="{{ $p.Params.thumbnail_alt }}" class="product-thumb" />
        {{ end }}
        <h2>{{ $p.Title }}</h2>
        <p>{{ $p.Params.description }}</p>
      </a>

      {{/* Vignette */}}
			{{ $v := index $vignettes (mod $i (len $vignettes)) }}
			<article class="product-item item alt vignette">
				<div class="text">
					<h3>{{ $v.title }}</h3>
					<p>{{ $v.text }}</p>
				</div>
			</article>
    {{ end }}
  </div>
</div>
{{ end }}
