<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Title }}</title>
<meta name="description" content="{{ .Params.description }}">
<!-- Favicon -->
<link rel="icon" href="{{ "images/favicon.ico" | relURL }}" type="image/x-icon">
<!-- Feuille de styles principale -->
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
<!-- Autres métadonnées -->
{{ if .IsHome }}
  <meta name="robots" content="index, follow">
{{ else }}
  <meta name="robots" content="noindex, follow">
{{ end }}
